<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/aside.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/sign-up.css" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <div class="container-header">
        <a href="#">
          <img src="../../assets/images/mega-rocket-logo.png" alt="Logo" />
        </a>
        <div class="hamburguer-menu">
          <img src="../../assets/images/hamburger.png" alt="hamburger-menu" />
        </div>
      </div>
    </header>
    <div class="container">
      <aside>
        <div>
          <nav>
            <ul>
              <li>
                <a href="./index.html">
                  <img src="../../assets/images/home.png" alt="Home" />
                  Home
                </a>
              </li>
              <li>
                <a href="./sign-up.html">
                  <img src="../../assets/images/sign-up.png" alt="Sign up" />
                  Sign Up
                </a>
              </li>
              <li>
                <a href="./login.html">
                  <img src="../../assets/images/log-in.png" alt="Log in" />
                  Sign In
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="contact-information">
          <h2>Contact Information</h2>
          <ul>
            <li>
              <img src="../../assets/images/email.png" alt="Email" />
              <a href="#"> information@untitled.tld </a>
            </li>
            <li>
              <img src="../../assets/images/telephone.png" alt="Cell phone" />
              <a href="#"> (000) 000-0000 </a>
            </li>
            <li>
              <img src="../../assets/images/address.png" alt="Address" />
              <a href="#"> 1234 Somewhere Road #8254 Nashville, TN </a>
            </li>
          </ul>
        </div>
      </aside>
      <div class="container-main">
        <main>
          <div class="register-container">
            <form action="" id="form-registration">
              <div class="form-container">
                <label for="name">Name </label>
                <input
                  type="text"
                  id="name"
                  placeholder="Enter Name"
                  class="input"
                />
                <label for="surname">Surname</label>
                <input
                  type="text"
                  id="surname"
                  placeholder="Enter surname"
                  class="input"
                />
                <label for="dni">DNI</label>
                <input
                  type="text"
                  id="dni"
                  placeholder="Enter your DNI"
                  class="input"
                />
                <label for="birthday">Birthday</label>
                <input type="date" id="birthday" class="input" />
                <label for="phone">Phone</label>
                <input
                  type="text"
                  id="phone"
                  placeholder="Enter phone number"
                  class="input"
                />
                <label for="address">Address</label>
                <input
                  type="text"
                  id="address"
                  placeholder="Enter your Adress"
                  class="input"
                />
                <label for="location">Location</label>
                <input
                  type="text"
                  id="location"
                  placeholder="Enter your location"
                  class="input"
                />
                <label for="postal-code">Postal Code</label>
                <input
                  type="text"
                  id="postal-code"
                  placeholder="Enter your Postal Code"
                  class="input"
                />
                <label for="email">Email</label>
                <input
                  type="text"
                  id="email"
                  placeholder="Enter email"
                  class="input input-email"
                />
                <label for="password">Password</label>
                <input type="password" id="password" class="input" />
                <label for="repeat-password">Repeat Password</label>
                <input
                  type="password"
                  id="repeat-password"
                  placeholder="Enter password"
                  class="input"
                />
                <div class="btn-register">
                  <button type="submit" id="submit">Register</button>
                </div>
              </div>
            </form>
          </div>
          <script src="../js/sign-up.js"></script>
        </main>
      </div>
    </div>
  </body>
</html>
