/* Style Error */

.alert-message {
  color: red;
  text-align: center;
  font-weight: bold;
  list-style: inside;
}

.input-error {
  border-color: red;
}

.input-correct {
  border: 2px solid greenyellow;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-register {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.register-container label {
  padding: 10px 0px 10px 0;
  color: var(--primary-color);
  font-weight: bold;
}

.register-container input {
  padding: 8px;
  border-radius: 4px;
}

.btn-register button {
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  background-color: var(--secundary-color);
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  .container-main {
    display: flex;
    justify-content: center;
  }
  .register-container {
    width: 500px;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-main {
    flex-direction: row-reverse;
  }
}
