
aside {
    display: none;
}

@media only screen and (min-width: 1024px) {
    /* Aside */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    padding: 20px;
    background-color: var(--secundary-color);
    height: 100%;
    width: 313px;
}

nav {
    text-align: center;
    margin-top: 35%;
}

nav ul li {
    margin-top: 16px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: white;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

.contact-information h2 {
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.contact-information ul {
    margin-top: 40px;
}

.contact-information ul li {
    margin-top: 23px;
    color: var(--primary-color);
}

.contact-information img  {
    width: 10%;
    height: 10%;
    margin-right: 10px;
}
}
