/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 61px;
    background-color: var(--secundary-color);
}

footer span {
    display: block;
    padding: 8px;
}

footer a {
    padding: 10px;
}

footer p {
    display: block;
    padding-bottom: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}
