/* Footer */

footer {
    padding: 8px;
    margin-left: 180px;
    margin-top: 65px;
    background-color: var(--secundary-color);
}

footer span {
    display: block;
    margin-left: 650px;
}

footer a {
    padding: 10px;
}

footer p {
    display: block;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-left: 550px;
    color: white;
    font-size: 14px;
}
