/* Header */

header {
    position: fixed;
    display: flex;
    background-color: var(--primary-color);
    width: 100%;
    z-index: 1;
    justify-content: space-between;
}

header img {
    padding: 30px;
}

.hamburguer-menu {
    visibility: collapse;
}

@media only screen and (min-width: 601px) {
    .hamburguer-menu{
        visibility: hidden;
    }
}