@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* Variables */

:root {
    --primary-color: #373867;
    --secundary-color: #AACE9E;
}

/* General */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    color: var(--primary-color);
    font-style: normal;
}

/* Header */

header {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    width: 1512px;
    z-index: 1;
}

header img {
    padding: 30px;
}

/* Aside */

aside {
    position: fixed;
    background-color: var(--secundary-color);
    width: 313px;
    height: 915px;
}

nav {
    margin-top: 12.38px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

nav ul li {
    margin-top: 16.44px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: white;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
}

.contact-information {
    margin-top: 300px;
    margin-left: 34.36px;
}

.contact-information h3 {
    margin-left: 50px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.contact-information ul {
    margin-top: 40px;
}

.contact-information ul li{
    margin-top: 23px;
    color: var(--primary-color);
}

.contact-information img  {
    width: 15.27px;
    height: 15.27px;
    margin-right: 16.36px;
}

/* Main */

main {
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 312px;
}

/* First main landing page article */

.article-title {
    margin-left: 74px;
}
.article-title article {
    float: left;
    width: 500px;
    text-align: center;
    margin-top: 119px;
}

.article-title h1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 40px;
}

.article-title h2 {
    color: #49A37B;
    font-weight: 23px;
    text-transform: uppercase;
}

.article-title p {
    margin-top: 34px;
}

.article-title img {
    margin-top: 65px;
    margin-left: 61px;
    width: 500px;
    height: 315px;
}

/* Features */

.features {
    margin-top: 65px;
    margin-left: 170px;
}

.features h2 {
    margin-left: 420px;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline var(--secundary-color);
}

.features article {
    display: inline-block;
    width: 450px;
    margin-top: 58px;
}

.features img {
    margin-left: 2px;
}

.features h3 {
    display: inline-block;
    margin-left: 15px;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}

.features p {
    margin-top: 34px;
    padding: 40px;
}

/* Footer */

footer {
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 312px;
}




